<div><%=@reservation.id%></div>
<div><%=@reservation.name%></div>
<div><%=@reservation.email%></div>
<div id="schedule_id"><%=@reservation.schedule_id%></div>
<div><%=@reservation.date%></div>
<div id="sheet_id"><%=@reservation.sheet_id%></div>