<div class="form">
    <h2>座席予約フォーム</h2>
    <% flash.each do |message_type, message| %>
      <%= message %>
    <% end %>
      <%= form_with url:reservations_path(movie_id:params[:movie_id],date:@schedule.start_time,sheet_id:params[:sheet_id],schedule_id:params[:schedule_id]) ,model: @reservation, method: :post do |f| %>
        <div class="form-group">
          <label>予約者氏名</label>
            <%=current_user.name%>
            <%= f.hidden_field :name, value:current_user.name%>
        </div>
        <div class="form-group">
          <label>予約者メールアドレス</label>
            <%=current_user.email%>
            <%= f.hidden_field :email, value:current_user.email%>
        </div>
        <%# hiddenパラメータで渡す %>
        <%= f.hidden_field :schedule_id, value: params[:schedule_id] %>
        <%= f.hidden_field :sheet_id, value: params[:sheet_id] %>
        <%= f.hidden_field :date, value: params[:date] %>
        <div class="form-group">
          <%= f.submit "予約を確定する", class: "btn btn-primary float-end mt-3" %>
          <div class="clear"></div>
        </div>
      <% end %>
  </div>
</div>